<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">UI测试</li>
        <li><a href="/Test/Create">添加测试</a></li>
        <li><a href="/Test">列表测试</a></li>
        <li class="nav-header">影视管理</li>
        <li><a href="#">添加影视</a></li>
        <li><a href="#">影视列表</a></li>
        <li class="nav-header">发行统计</li>
        <li><a href="#">发行设置</a></li>
        <li><a href="#">发行统计</a></li>
        <li class="nav-header">权限管理</li>
        <li><a href="/User">用户管理</a></li>
        <li><a href="/Role">角色管理</a></li>
        <li><a href="#">权限管理</a></li>
    </ul>
</div>
